.settings {
  display: flex;
  max-width: 32rem;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;
}

.settings .searchBar {
  border-radius: 9999px 0 0 9999px;
  border: none;
  padding: 13px;
  background-color: #f0f0f0;
  max-width: 100px;
}

.settings .searchButton {
  border-radius: 0 9999px 9999px 0;
  border: none;
  border-left: 1px solid #dedede;
  padding: 13px;
  background-color: #f0f0f0;
  margin-right: 10px;
}

.settings .button {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #5d5d5d;
  color: white;
}