.settings {
  max-width: 32rem;
  margin: 0 auto;
  padding: 35px 35px 20px;

  @media screen and (min-width: 768px) {
    max-width: 100%;
    padding: 100px 100px 30px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
  }

  .searchBarError {
    color: #808080;
    margin-top: 12px;
  }

  .searchBarContainer {
    display: flex;
    flex: 1;
  }

  .searchBar {
    border-radius: 5px 0 0 5px;
    border: 2px solid #dfdfdf;
    border-right: none;
    padding: 13px;
    background-color: white;
    width: 100%;
    max-width: 70%;
    color: #404040;
    font-size: 16px;

    @media screen and (min-width: 768px) {
      padding: 20px;
    }
  }

  .searchButton {
    border-radius: 0 5px 5px 0;
    border: 2px solid #78cad2;
    border-left: none;
    padding: 13px;
    background-color: #78cad2;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;

    @media screen and (min-width: 768px) {
      padding: 20px;
    }
  }

  .button {
    border-radius: 50%;
    border: 2px solid #78cad2;
    width: 50px;
    height: 50px;
    background-color: #78cad2;
    color: white;
    cursor: pointer;
    font-size: 16px;

    @media screen and (min-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }
}
